@media all and (max-width: 768px){

body
{
    width: /*375px*/ auto;
    height: auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

main
{
    height: auto;
}

img 
{
    width: 340px; 
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header
{
    height: 2,5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
.form
{
    width: 100%;
    background-color: $color-form;
    padding: 2% 0% 2% 0%;
    box-shadow: 0px 0px 4px $color-footer inset;
}
.form div
{
    color: $color-footer; 
    background-color: $color-form;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 0% auto 0% auto;
    font-size: 1rem;
    padding: 2%;
    align-items: baseline;
    & input{
        background-color: $color-form;
        color: $color-footer;
        border: none;
        margin-left: 5%;
        text-align: flex-start;
        font-size: 1rem;
        padding: 2%;
    }
 

}

#introduction 
{
    background-color: $color-quaternary;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5% 0% 15% 0%; 
    & h1{
        width: 60%; 
        margin-right: auto;
        margin-left: auto;
    }
    & h4{
        width: 70%;
        margin-right: auto; 
        margin-left: auto;
    }
}

.explorer{
    color: white;
    background-color: $color-primary;
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    border-radius: 20px;
    border: none;
    padding: 0% 5% 0% 5%;

}
#how_it_works
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%; 
    padding: 5% 0% 10% 0%;
    & h1{

        width: 90%;
    }
}


.step_1, .step_2, .step_3
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
    background-color: $color-quaternary;
    margin: 5% auto 0% auto;
    padding: 2% 0% 2% 0%;
    border-radius: 25px;
    box-shadow: 1px 1px 10px grey;
    align-items: baseline;
    justify-content: space-between;
    p:nth-child(1){
        order:1;
        width: 6%;
        border-radius: 50%;
        background-color: $color-primary;
        color:white;
        margin-left: -2%;
        margin-right: 10%;
        text-align: center;
    }
    i:nth-child(2){
        order: 2; 
        width: auto;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
    
    }
    h3:nth-child(3){
        order:3;
        width: 80%;
        padding-left: 10%;
    }
    
    /*i{
        border: 2px solid blue;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
        & 
    } */
}



#prev_restaurants
{
    background-color: $color-quaternary;
    width: 100%;
    height: auto; 
    padding: 10% 0% 20% 0%;
}


#prev_restaurants .prev_rest_1, .prev_rest_2, .prev_rest_3, .prev_rest_4
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 1px 1px 5px grey;
    & a{
        color:black;
        text-decoration: none;
    }
    & a:hover{
        color: black; 
    }
}
   
.new{

    width: auto;
    position: absolute;
    margin-left: 60%;
    padding: 2%;
    background-color: $color-tertiary;
    color: $color-quinary;
    border-radius: 5%;
    font-size: 0.8rem;
}

.caption
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    line-height: 40%;
    &_like{
        margin-top: auto; 
        margin-bottom: auto;
        font-size: 1.2rem;
        font-weight: lighter;
    }
}

footer{
    width: auto;
    height: auto;
    background-color: $color-footer;
    color: white;
    padding: 5%;
    line-height: 0.8rem;
    & .ohmyfood, h3 , h4{
        width: 80%
    }

}

.footer_title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 80%;
    & i{
        padding-right: 2%;
    }
    
}

}
