@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&family=Shrikhand&display=swap");
h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.6rem;
  font-weight: bold;
}

/* MENU */
* {
  font-family: "Roboto", "sans-serif";
}

.ohmyfood, .header_section-menu_title {
  font-family: "Shrikhand", "sans-serif";
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 550;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 350;
  font-size: 0.8rem;
}

@media all and (max-width: 768px) {
  body {
    /*width: 375px auto;
    height: auto;*/
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
  }

  /*main
  {
      height: auto;
  }*/
  .prev_restaurant_img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  header {
    height: 10%;
    /*margin-left: auto;
    margin-right: auto;*/
    width: 100%;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 4%;
  }

  .form {
    width: 100%;
    background-color: #eaeaea;
    padding: 2% 0% 2% 0%;
    box-shadow: 0 10px 10px -12px #353535 inset;
  }

  .form div {
    color: #353535;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 0% auto 0% auto;
    font-size: 1rem;
    padding: 2%;
    align-items: baseline;
  }
  .form div input {
    background-color: #eaeaea;
    color: #353535;
    border: none;
    margin-left: 5%;
    text-align: flex-start;
    font-size: 1rem;
    padding: 2%;
  }

  #introduction {
    background-color: #f6f6f6;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5% 0% 15% 0%;
  }
  #introduction h1 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  #introduction h4 {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .explorer {
    color: white;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    border: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
  }

  #how_it_works {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 5% 0% 10% 0%;
  }
  #how_it_works h1 {
    width: 90%;
  }

  .step_1, .step_2, .step_3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
    background-color: #f6f6f6;
    margin: 5% auto 0% auto;
    padding: 2% 0% 2% 0%;
    border-radius: 25px;
    box-shadow: 1px 1px 10px grey;
    align-items: baseline;
    justify-content: space-between;
    /*i{
        border: 2px solid blue;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
        & 
    } */
  }
  .step_1 p:nth-child(1), .step_2 p:nth-child(1), .step_3 p:nth-child(1) {
    order: 1;
    width: 6%;
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    margin-left: -2%;
    margin-right: 10%;
    text-align: center;
  }
  .step_1 i:nth-child(2), .step_2 i:nth-child(2), .step_3 i:nth-child(2) {
    order: 2;
    width: auto;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .step_1 h3:nth-child(3), .step_2 h3:nth-child(3), .step_3 h3:nth-child(3) {
    order: 3;
    width: 80%;
    padding-left: 10%;
  }

  #prev_restaurants {
    background-color: #f6f6f6;
    width: 100%;
    height: auto;
    padding: 10% 0% 20% 0%;
  }

  #prev_restaurants .prev_rest_1, .prev_rest_2, .prev_rest_3, .prev_rest_4 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 1px 1px 5px grey;
  }
  #prev_restaurants .prev_rest_1 a, .prev_rest_2 a, .prev_rest_3 a, .prev_rest_4 a {
    color: black;
    text-decoration: none;
  }
  #prev_restaurants .prev_rest_1 a:hover, .prev_rest_2 a:hover, .prev_rest_3 a:hover, .prev_rest_4 a:hover {
    color: black;
  }

  .new {
    width: auto;
    position: absolute;
    margin-left: 60%;
    padding: 2%;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 5%;
    font-size: 0.8rem;
  }

  .prev_restaurant_img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .caption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    line-height: 40%;
  }
  .caption_like {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  footer {
    background-color: #353535;
    color: white;
    padding: 5%;
    line-height: 0.8rem;
  }

  .footer_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 80%;
  }
  .footer_title i {
    padding-right: 2%;
  }
}
@media all and (max-width: 768px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  header {
    height: 10%;
    /*margin-left: auto;
    margin-right: auto;*/
    width: 100%;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 4%;
  }

  .menu_img {
    width: 100%;
    z-index: 1;
    position: relative;
  }

  #menu {
    background-color: #f6f6f6;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    width: 100%;
    margin-bottom: 0px;
    margin-top: -15%;
    position: relative;
    z-index: 2;
  }

  .header_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 5%;
  }

  .category_menu {
    width: 90%;
    margin: 0% auto 8% auto;
    padding-bottom: 1%;
  }
  .category_menu-title {
    border-bottom: 2px solid #99E2D0;
    padding-bottom: 1%;
    width: 8%;
  }

  .suggestion {
    background-color: white;
    width: 100%;
    margin: 0% auto 5% auto;
    border-radius: 1em;
    box-shadow: 4px 4px 6px #eaeaea;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /*line-height: 30%;*/
    padding: 1%;
  }
  .suggestion_title {
    width: 80%;
    padding: 0px;
    margin: auto 0% auto 0%;
  }
  .suggestion_title h3 {
    line-height: 1.2em;
    margin: 0% auto 0% auto;
  }
  .suggestion_title h4 {
    height: auto;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0% auto 0% auto;
  }
  .suggestion_price {
    height: auto;
    border: 2px solid goldenrod;
  }
  .suggestion_price p {
    display: flex;
  }

  .menu_main_button {
    text-align: center;
    margin: auto;
    padding-bottom: 8%;
  }
  .menu_main_button button {
    color: white;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    border: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15%;
    padding-right: 15%;
  }

  footer {
    background-color: #353535;
    color: white;
    padding: 5%;
    line-height: 0.8rem;
  }

  .footer_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 80%;
  }
  .footer_title i {
    padding-right: 2%;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 5%;
  line-height: 0.8rem;
}

.footer_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 80%;
}
.footer_title i {
  padding-right: 2%;
}

footer {
  background-color: #353535;
  color: white;
  padding: 5%;
  line-height: 0.8rem;
}

.footer_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 80%;
}
.footer_title i {
  padding-right: 2%;
}

footer {
  background-color: #353535;
  color: white;
  padding: 5%;
  line-height: 0.8rem;
}

.footer_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 80%;
}
.footer_title i {
  padding-right: 2%;
}

/*# sourceMappingURL=style.css.map */
